.button {
    width: 100%;
    margin-bottom: 30px;
}

.browser-default {
    position: relative;
    margin: 0 0 10 0;
}

.userID{
    margin: 0;
    padding: 0;
    color: red;
}

body{
    background: rgb(231, 235, 240);
}

.login_page{
    background: white;
    padding: 30px 60px;
    border-radius: 2px;
    margin: 25px auto 0px;
    max-width: 500px;
}

.brand-logo{
    margin-left: 15px;
}

.loginButtons{
    margin: 0px auto 0px;
    max-width: 280px;
}

#loginBtn{
    width: 100%;
}

.page{
    background: white;
    padding: 30px 60px;
    border-radius: 2px;
    margin: 25px auto 0px;
    max-width: 60%;
}

.pageInfo{
    margin: 0px auto 0px;
    max-width: 100%;
}

.canvasBloc{
    border: 1px solid #bbdefb  ;
    margin-bottom: 20px;
}

.canvasBlocText{
    padding: 0 0 0 30px;
    color: #039be5   ;
}

.backButton{
    padding-bottom: 20px;
}