<!-- views/addMetrics.ejs -->
<!doctype html>
<html>

<head>
    <title>SportTrainer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../font-awesome.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <a href="/profile" class="brand-logo">SportTrainer</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/logout">Вийти</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page">
        <div class="pageInfo">
            <a href="/statistic">
                <i class="fa fa-angle-left" aria-hidden="true"></i> назад</a>
            <div class="row">
                <div class="input-field col s3">
                    <input value="" id="dayWeight" type="text" class="validate dayWeight" maxlength="2">
                    <label class="active" for="dayWeight">День</label>
                </div>
                <div class="input-field col s3">
                    <input value="" id="mountWeight" type="text" class="validate mountWeight" maxlength="2">
                    <label class="active" for="mountWeight">Місяць</label>
                </div>
                <div class="input-field col s3">
                    <input value="" id="yearWeight" type="text" class="validate yearWeight" maxlength="4">
                    <label class="active" for="yearWeight">Рік</label>
                </div>
                <div class="input-field col s3">
                    <input value="" id="weight" type="text" class="validate weight" maxlength="3">
                    <label class="active" for="weight">Вага</label>
                </div>
                <a class="waves-effect waves-light btn-large button indigo darken-1" href="#" onclick="setMetricsWeight()">Додати результати</a>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <input value="" id="breastV" type="text" class="validate breastV" maxlength="3">
                    <label class="active" for="breastV">Об'єм грудей</label>
                </div>
                <div class="input-field col s2">
                    <input value="" id="waistV" type="text" class="validate waistV" maxlength="3">
                    <label class="active" for="waistV">Об'єм талії</label>
                </div>
                <div class="input-field col s2">
                    <input value="" id="hipsV" type="text" class="validate hipsV" maxlength="3">
                    <label class="active" for="hipsV">Об'єм стегон</label>
                </div>
                <div class="input-field col s2">
                    <input value="" id="dayVolume" type="text" class="validate dayVolume" maxlength="2">
                    <label class="active" for="dayVolume">День</label>
                </div>
                <div class="input-field col s2">
                    <input value="" id="mountVolume" type="text" class="validate mountVolume" maxlength="2">
                    <label class="active" for="mountVolume">Місяць</label>
                </div>
                <div class="input-field col s2">
                    <input value="" id="yearVolume" type="text" class="validate yearVolume" maxlength="4">
                    <label class="active" for="yearVolume">Рік</label>
                </div>
                <a class="waves-effect waves-light btn-large button indigo darken-1" href="#" onclick="setMetricsVolume()">Додати результати</a>
            </div>
        </div>
    </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io("http://localhost:3000");

        function setMetricsWeight() {
            let date, day, mount, year, weight;
            weight = document.querySelector(".weight").value;
            year = document.querySelector(".yearWeight").value;
            mount = document.querySelector(".mountWeight").value;
            day = document.querySelector(".dayWeight").value;
            if (checkDate(day, mount, year) == true && checkWeight(weight) == true) {
                date = year + "-" + mount + "-" + day;
                let data = {
                    date: date,
                    weight: weight
                };
                socket.emit("setMetricsWeight", data);
                document.querySelector(".weight").value = "";
                document.querySelector(".yearWeight").value = "";
                document.querySelector(".mountWeight").value = "";
                document.querySelector(".dayWeight").value = "";
            }
        };

        function checkDate(day, mount, year) {
            if ((day > 0 && day <= 31 && day != "") && (mount > 0 && mount <= 12 && mount != "") && (year >= 2016 && year <= 2100 && year != "")) {
                return true;
            } else {
                alert("Некоректно введена дата!");
                return false;
            }
        }

        function checkWeight(weight) {
            if (weight >= 200) {
                alert("Вага має бути менше 100 кг!");
                return false;
            }
            if (weight == 0) {
                alert("Вага не може дорівнювати 0 кг!");
                return false;
            }
            if (weight <= 0) {
                alert("Вага не може бути менше 0 кг!");
                return false;
            }

            if (weight == "") {
                alert("Введіть значення ваги!");
                return false;
            }
            return true;
        }

        function checkVolume(breast, waist, hips) {
            if (breast == 0) {
                alert("Об'єм грудей не може дорівнювати 0 кг!");
                return false;
            }
            if (breast == "") {
                alert("Введіть значення об'єму грудей!");
                return false;
            }

            if (waist == 0) {
                alert("Об'єм талій не може дорівнювати 0 кг!");
                return false;
            }
            if (waist == "") {
                alert("Введіть значення об'єму талії!");
                return false;
            }

            if (hips == 0) {
                alert("Об'єм стегон не може дорівнювати 0 кг!");
                return false;
            }
            if (hips == "") {
                alert("Введіть значення об'єму стегон!");
                return false;
            }
            return true;
        }

        function setMetricsVolume() {
            let breast, waist, hips, date;
            breast = document.querySelector(".breastV").value;
            waist = document.querySelector(".waistV").value;
            hips = document.querySelector(".hipsV").value;

            year = document.querySelector(".yearVolume").value;
            mount = document.querySelector(".mountVolume").value;
            day = document.querySelector(".dayVolume").value;
            if (checkDate(day, mount, year) == true && checkVolume(breast, waist, hips) == true) {
                date = year + "-" + mount + "-" + day;
                let data = {
                    date: date,
                    breast: breast,
                    waist: waist,
                    hips: hips
                };

                socket.emit("setMetricsVolume", data);
                document.querySelector(".breastV").value = "";
                document.querySelector(".waistV").value = "";
                document.querySelector(".hipsV").value = "";
                document.querySelector(".yearVolume").value = "";
                document.querySelector(".mountVolume").value = "";
                document.querySelector(".dayVolume").value = "";
            }

        }

        document.getElementById("weight").onkeydown = function (e) {
            return checkNumber(e);
        }

        document.getElementById("dayWeight").onkeydown = function (e) {
            return checkNumber(e);
        }

        document.getElementById("mountWeight").onkeydown = function (e) {
            return checkNumber(e);
        }
        document.getElementById("yearWeight").onkeydown = function (e) {
            return checkNumber(e);
        }
        document.getElementById("breastV").onkeydown = function (e) {
            return checkNumber(e);
        }
        document.getElementById("waistV").onkeydown = function (e) {
            return checkNumber(e);
        }
        document.getElementById("hipsV").onkeydown = function (e) {
            return checkNumber(e);
        }
        document.getElementById("dayVolume").onkeydown = function (e) {
            return checkNumber(e);
        }
        document.getElementById("mountVolume").onkeydown = function (e) {
            return checkNumber(e);
        }
        document.getElementById("yearVolume").onkeydown = function (e) {
            return checkNumber(e);
        }
        
        function checkNumber(e) {
            if ((e.which >= 48 && e.which <= 57) // цифры
                ||
                (e.which >= 96 && e.which <= 105) // num lock
                ||
                e.which == 8 // backspace
                ||
                (e.which >= 37 && e.which <= 40) // стрелки
                ||
                e.which == 46
                ||
                e.which == 9) // tab 
            {
                return true;
            } else {
                return false;
            }
        }
    </script>
</body>

</html>