<!-- views/editInfo.ejs -->
<!doctype html>
<html>

<head>
    <title>SportTrainer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../font-awesome.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <a href="/profile" class="brand-logo">SportTrainer</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/logout">Вийти</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page">
        <div class="pageInfo">
            <center>
                <h5>Редагувати інформацію</h5>
            </center>
            <div id="userID" style="display: none;">
                <%= user.id %>
            </div>
            <br>

            <div class="row">
                <div class="input-field col s6">
                    <input value="" id="numberA" type="text" class="validate age" maxlength="2">
                    <label class="active" for="number">Вік</label>
                </div>
                <div class="input-field col s6">
                    <input value="" id="numberW" type="text" class="validate weight" maxlength="3">
                    <label class="active" for="number">Вага</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input value="" id="numberH" type="text" class="validate height" maxlength="3">
                    <label class="active" for="number">Ріст</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <select class="browser-default sex">
                        <option value="" disabled selected>Виберіть стать</option>
                        <option value="man">Чоловіча</option>
                        <option value="woman">Жіноча</option>
                    </select>
                </div>
                <div class="col s6">
                    <select class="browser-default level">
                        <option value="" disabled selected>Рівень тренувань</option>
                        <option value="newcomer">Новачок</option>
                        <option value="haveExperience">Є досвід</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <select class="browser-default goal">
                        <option value="" disabled selected>Яка мета тренувань</option>
                        <option value="loseWeight">Схуднути</option>
                        <option value="gainWeight">Набрати масу</option>
                    </select>
                </div>
            </div>
            <a class="waves-effect waves-light btn-large button indigo darken-1" href="/profile">Зберегти</a>
        </div>
    </div>
    <div class="trainID" style="display: none;"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io("http://localhost:3000");

        let userIDDataDoc = document.getElementById("userID");
        let userIDData = userIDDataDoc.textContent || userIDDataDoc.innerText;
        socket.emit("getUserID", userIDData);

        document.querySelector(".button").addEventListener("click", ev => {
            ev.preventDefault();
            if (checkData() === true) {
                let weightData = document.querySelector(".weight").value;
                let heightData = document.querySelector(".height").value;
                let sexData = document.querySelector(".sex").value;
                let ageData = document.querySelector(".age").value;
                let levelData = document.querySelector(".level").value;
                let goalData = document.querySelector(".goal").value;
                socket.emit("getWeight", weightData);
                socket.emit("getHeight", heightData);
                socket.emit("getSex", sexData);
                socket.emit("getAge", ageData);
                socket.emit("getLevel", levelData);
                socket.emit("getGoal", goalData);
                socket.emit("setInfo");
                document.location.href = "http://localhost:3000/profile";
            } else {
                //alert("fa");
            }
            
        });

        // перевірка на числа
        document.getElementById("numberW").onkeydown = function (e) {
            return checkNumber(e);
        }

        document.getElementById("numberA").onkeydown = function (e) {
            return checkNumber(e);
        }

        document.getElementById("numberH").onkeydown = function (e) {
            return checkNumber(e);
        }

        function checkNumber(e) {
            if ((e.which >= 48 && e.which <= 57) // цифры
                ||
                (e.which >= 96 && e.which <= 105) // num lock
                ||
                e.which == 8 // backspace
                ||
                (e.which >= 37 && e.which <= 40) // стрелки
                ||
                e.which == 46
                ||
                e.which == 9) // tab 
            {
                return true;
            } else {
                return false;
            }
        }

        function checkData() {
            let res;
            let weightData = document.querySelector(".weight").value;
            let heightData = document.querySelector(".height").value;
            let sexData = document.querySelector(".sex").value;
            let ageData = document.querySelector(".age").value;
            let levelData = document.querySelector(".level").value;
            let goalData = document.querySelector(".goal").value;
            
            if (weightData >= 200) {
                alert("Вага має бути менше 100 кг!");
                return false;
            } 
            if (weightData == 0) {
                alert("Вага не може дорівнювати 0 кг!");
                return false;
            }
            if (weightData <= 0) {
                alert("Вага не може бути менше 0 кг!");
                return false;
            }

            if (weightData == "") {
                alert("Введіть значення ваги!");
                return false;
            }

            if (heightData >= 250) {
                alert("Ріст не має бути більше ніж 250 см!");
                return false;
            } 
            if (heightData == 0) {
                alert("Ріст не може дорівнювати 0 см!");
                return false;
            }
            if (heightData <= 0) {
                alert("Ріст не може бути менше 0 см!");
                return false;
            }

            if (heightData == "") {
                alert("Введіть значення росту!");
                return false;
            }

            if (ageData >= 100) {
                alert("Вік не має бути більше ніж 100 років!");
                return false;
            } 
            if (ageData == 0) {
                alert("Вік не може дорівнювати 0 років!");
                return false;
            }
            if (ageData <= 0) {
                alert("Вік не може бути менше 0 років!");
                return false;
            }

            if (ageData == "") {
                alert("Введіть значення віку!");
                return false;
            }

            if (sexData == "")
            {
                alert("Не вибрана стать!");
                return false;
            }

            if (levelData == "") {
                alert("Не вибраний рівень тренувань!");
                return false;
            }

            if (goalData == "") {
                alert("Не вибрана ціль тренувань!");
                return false;
            }

            return true;
        }
    </script>
</body>

</html>