<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>SportTrainer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../font-awesome.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <a href="/" class="brand-logo">SportTrainer</a>
        </div>
    </nav>
    <div class="login_page">
        <div class="loginButtons">
            <center><p>Login or Register with:</p></center>
            <a href="/login" class="btn btn-default indigo darken-1">
                <span class="fa fa-user"></span> Login</a>
            or
            <a href="/signup" class="btn btn-default indigo darken-3">
                <span class="fa fa-user-plus"></span> Signup</a>
        </div>
    </div>
</body>

</html>