<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>SportTrainer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../font-awesome.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <a href="/" class="brand-logo">SportTrainer</a>
        </div>
    </nav>
    <div class="login_page">
        <div class="loginButtons">
            <center><h5>Увійти</h5></center>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>

                    <!-- LOGIN FORM -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Логін</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label>Пароль</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="filled-in" id="filled-in-box" name="remember" checked="checked" value="yes">
                            <label for="filled-in-box">Запам'ятати мене</label>
                        </div>
                        <br>
                        <button type="submit" id="loginBtn" class="btn btn-warning btn-lg indigo darken-1">Увійти
                        </button>
                    </form>

                    <hr>
                    <center>
                        <p>Немає акаунта?
                            <a href="/signup">Зареєструватись</a>
                        </p>
                        <p>Або поверніться на 
                            <a href="/">головну</a>.</p>
                    </center>
        </div>
    </div>
</body>

</html>