<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
	<title>SportTrainer</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="../style.css">
	<link rel="stylesheet" href="../font-awesome.min.css">
</head>

<body>
	<nav>
		<div class="nav-wrapper indigo">
			<a href="/" class="brand-logo">SportTrainer</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="page">
		<div class="pageInfo">
			<center>
				<h5>Wellcome to SportTrainer,
					<%= user.username %>
				</h5>
			</center>
			<p>
				<strong>id</strong>:
				<div id="userID"><%= user.id %></div>
			</p>
			<div class="yourTrain"></div>
			<div>
				<a href="/editInfo">Edit info</a>
			</div>
		</div>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		let socket = io("http://localhost:3000");

		let userIDDataDoc = document.getElementById("userID");
		let userIDData = userIDDataDoc.textContent || userIDDataDoc.innerText;
		socket.emit("getUserID", userIDData);

		socket.on("getTrain", function (data) {
			let yourTrain = document.querySelector(".yourTrain");
			yourTrain.innerHTML = data;
		});
		socket.emit("getInfo");
	</script>
</body>

</html>