<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
	<title>SportTrainer</title>
	<script src="../js/materialize.min.js"></script>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/materialize.min.css">
</head>

<body>

	<nav>
		<div class="nav-wrapper indigo">
			<a href="/" class="brand-logo">SportTrainer</a>
		</div>
	</nav>
	<div class="login_page">
		<div class="loginButtons">
			<center><h5>Зареєструватись</h5></center>

			<!-- show any messages that come back with authentication -->
			<% if (message.length > 0) { %>
				<div class="alert alert-danger">
					<%= message %>
				</div>
				<% } %>

					<!-- LOGIN FORM -->
					<form action="/signup" method="post">
						<div class="form-group">
							<label>Логін</label>
							<input type="text" class="form-control" name="username">
						</div>
						<div class="form-group">
							<label>Пароль</label>
							<input type="password" class="form-control" name="password">
						</div>

						<button type="submit" id="loginBtn" class="btn btn-warning btn-lg indigo darken-3">Зареєструватись</button>
					</form>

					<hr>
					<center>
						<p>Вже маєте акаунт?
							<a href="/login">Увійдіть</a>
						</p>
						<p>Або поверніться на 
							<a href="/">головну</a>.</p>
					</center>
		</div>
	</div>
</body>

</html>