<!-- views/statistic.ejs -->
<!doctype html>
<html>

<head>
    <title>SportTrainer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../font-awesome.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <a href="/" class="brand-logo">SportTrainer</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page">
        <div class="pageInfo">
            <div>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div>
                <a href="/addMetrics">Add metrics</a>
            </div>
        </div>
    </div>

    <script src="app/Chart.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io("http://localhost:3000");
        let weight = [];
        let date = [];
        socket.emit("getStats");
        socket.on("sendStats", function (data) {
            //console.log(data.length);
            for (let i = 0; i < data.length; i++) {
                weight.push(data[i].weight);
                date.push(data[i].date);
            }
            console.log(weight);
            console.log(date);
        });
        let ctx = document.getElementById("myChart");
        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: date,
                datasets: [{
                    label: 'Вага',
                    data: weight,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>

</html>