<!-- views/statistic.ejs -->
<!doctype html>
<html>

<head>
    <title>SportTrainer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../font-awesome.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <a href="/profile" class="brand-logo">SportTrainer</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/logout">Вийти</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page">
        <div class="pageInfo">
            <div class="backButton">
                <a href="/profile">
                    <i class="fa fa-angle-left" aria-hidden="true"></i> назад</a>
            <a style="float: right;" href="/addMetrics">Додати результати</a>
            
            </div>
            <div class="canvasBloc">
                <div class="canvasBlocText">
                    <h5>Вага</h5>
                </div>
                <canvas id="chartWeight"></canvas>
            </div>
            <div class="canvasBloc">
                <div class="canvasBlocText">
                    <h5>Об'єм грудей, талії, бедер</h5>
                </div>
                <canvas id="chartVolume"></canvas>
            </div>
        </div>
    </div>

    <script src="app/Chart.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io("http://localhost:3000");
        let weight = [],
            breast = [],
            waist = [],
            hips = [];
        let dateWeight = [],
            dateVolume = [];
        socket.emit("getStats");
        socket.on("sendStatsWeight", function (data) {
            //console.log(data.length);
            for (let i = 0; i < data.length; i++) {
                let dateForSplit = data[i].date;
                let dateToArray = dateForSplit.split('T');
                weight.push(data[i].weight);
                dateWeight.push(dateToArray[0]);
            }
            // console.log(weight);
            // console.log(date);
            let ctxWeight = document.getElementById("chartWeight");
            let chartWeight = new Chart(ctxWeight, {
                type: 'line',
                data: {
                    labels: dateWeight,
                    datasets: [{
                        label: 'Вага',
                        data: weight,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        position: "bottom"
                    }
                }
            });
        });
        socket.on("sendStatsVolume", function (data) {
            //console.log(data);
            for (let i = 0; i < data.length; i++) {
                let dateForSplit = data[i].date;
                let dateToArray = dateForSplit.split('T');
                breast.push(data[i].breastV);
                waist.push(data[i].waistV);
                hips.push(data[i].hipsV);
                dateVolume.push(dateToArray[0]);
            }
            //console.log(breast);
            // console.log(weight);
            // console.log(date);
            let ctxVolume = document.getElementById("chartVolume");
            let chartVolume = new Chart(ctxVolume, {
                type: 'line',
                data: {
                    labels: dateVolume,
                    datasets: [{
                            label: "Об'єм грудей",
                            data: breast,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)'
                            ],
                            borderWidth: 1
                        },
                        {
                            label: "Об'єм талії",
                            data: waist,
                            backgroundColor: [
                                'rgba(34, 177, 36, 0.2)'
                            ],
                            borderColor: [
                                'rgba(22, 118, 51,1)'
                            ],
                            borderWidth: 1
                        },
                        {
                            label: "Об'єм бедер",
                            data: hips,
                            backgroundColor: [
                                'rgba(0, 0, 255, 0.2)'
                            ],
                            borderColor: [
                                'rgba(0, 0, 150, 1)'
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        position: "bottom"
                    }
                }
            });
        });
    </script>
</body>

</html>